.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.yarn

.env
.envrc

# Let the idl and generated types from target come through so Cursor can analyze them.
target/debug
target/deploy
target/release
target/sbf-solana-solana
target/wasm32-unknown-unknown
target/.rustc_info.json